footer {
    font-family: poppins;
    letter-spacing: 0.25rem;
    padding: 1rem 0;
    height: min-content;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #fab832;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
}

.virksomhedsinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: min-content;
    margin: 0 0.5rem 0.5rem 0.5rem;

    & > h4 {
        margin: 0.5rem 0;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    & > h5 {
        margin: 0 0 0.1rem 0;
        letter-spacing: 0.2rem;
    }
}

.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: min-content;
    margin: 0 0 0.5rem 0.5rem;

    & > h4 {
        margin: 0.5rem 0 0.5rem 0;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    & > a {
        margin: 0.5rem 0 0 0;
        letter-spacing: 0.2rem;
        color: #012249;
        text-decoration: none;
    }
}

.sociale {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: min-content;
    margin: 0 0.5rem 0.5rem 0;

    
    & > .soc {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: #012249;
        margin: 0 0 0.5rem 0;
    }

    & > .soc > img {
        margin: 0 0.5rem 0 0.5rem;
    }
}

@media screen and (min-width: 1000px){
    footer {
        align-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0.5rem;
        
        & > .cont  {
            display: flex;
            justify-content: center;
            height: 100%;
        }

        & > .cont:nth-child(1) {
            grid-area: 1/1/2/2;
        }
        & > .cont:nth-child(3) {
            grid-area: 1/2/2/3;
        }
        & > .cont:nth-child(2) {
            grid-area: 1/3/2/4;
        }
    }
    
    .virksomhedsinfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: max-content;
        height: min-content;
        margin: 0 0.5rem 0.5rem 0.5rem;
        
        & > h4 {
            margin: 0.5rem 0;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
        
        & > h5 {
            margin: 0 0 0.1rem 0;
            letter-spacing: 0.2rem;
        }
    }
    
    .kontakt {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: max-content;
        height: min-content;
        margin: 0 0 0.5rem 0.5rem;
        
        & > h4 {
            margin: 0.5rem 0;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
        
        & > a {
            margin: 0.5rem 0 0 0;
            letter-spacing: 0.2rem;
            color: #012249;
        }
    }
    
    .sociale {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        margin: 0 0.5rem 0.5rem 0;
        width: max-content;
        
        & > .soc {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
            color: #012249;
            padding: 0 2rem 0 0;
        }
    
        & > .soc > img {
            margin: 0 0.5rem 0 0.5rem;
        }
    }
}