main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
} 

.pic-container { /* første billede på index side, med overlay billede (3 øl) */
    width: 100%;
    height: min-content;
    position: relative;

    & > picture { 
        display: block;

        & > * {
            width: 100%;
            height: 100%;
        }
    }

    & > .overlay {
        opacity: 0;
        position: absolute;
        top: 5%;
        right: 2.5%;
        height: 90%;
        width: auto;
        filter: drop-shadow(2px 8px 10px #1a1a1a);
        transition: opacity 2s ease;
    }
}

.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    & > .vare {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: auto;
        height: 15rem;
        padding: 0.5rem 0.25rem;
        margin: 0.5rem 1rem;
        background-color: #fab832;
        
        & > .beer-image {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19) inset, 0 6px 6px rgba(0,0,0,0.23) inset;
            margin: 0.25rem;
            padding: 0.25rem;
            
            & > img {
                height: 100%;
                width: auto;
            }
        }
        
        & > .right {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin-right: 0.5rem;
            padding: 0.25rem;

            & > .beer-tekst {
                display: flex;
                 flex-direction: column;
                height: 100%;
                width: 100%;

                & > h2 {
                    font-family: 'Abril Fatface', serif;
                    margin: 0 0 0.12rem 0;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                }

                & > h4 {
                    margin: 0 0 0 0.25rem;
                }
            }

            & > button {
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: flex-end;
                width: 5rem;
                margin: 0 0 .5rem 0;
                padding: 0.25rem;
                background-color: #fab832;
                border: 4px solid #3753BE;
                color: #012249;
                border-radius: 0.5rem;
                cursor: pointer;
                font-size: medium;
                font-weight: bold;
                box-shadow: 0 5px 20px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
                transition: transform 0.2s ease;

                &:active {
                    transform: scale(0.95); 
                    box-shadow: 0 5px 20px rgba(0,0,0,0.19) inset, 0 2px 6px rgba(0,0,0,0.23) inset;
                }
            }
        }
    }    

    & > .hidden {
        display: none;
    }
    
    & > .se-mere {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 100%;
        margin: 0 1rem 2rem 1rem;
        
        & > .linje {
            width: 100%;
            height: 0.1rem;
            background-color: #012249;
        }
        & > .linje:first-of-type {
            margin: 0 0 0 1rem;
        }
        & > .linje:last-of-type {
            margin: 0 1rem 0 0;
        }
        
        & > #se-mere, & > #se-mere-cans {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            min-width: max-content;
            color: #012249;
            padding: 0.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: medium;
            font-weight: bold;
        }
    }
}
    
    

@media only screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content max-content fit-content;
        min-height: 100vh;
        width: 100%;

        & > .pic-container {
            grid-area: 1 / 1 / 2 / 3;
        }

        & > .shop:first-of-type {
            grid-area: 2 / 1 / 3 / 2;
        }

        & > .shop:last-of-type {
            grid-area: 2 / 2 / 3 / 3;
        }
        
        & > .mission {
            grid-area: 3 / 1 / 4 / 3;
            
        }
    }
    .mission {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10% 80% 10%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        height: auto;
        margin: 0 0 2rem 0;

        & > picture {
            grid-area: 1 / 1 / 4 / 4;
            max-height: 382px;
            max-width: 2000px;
            box-shadow: 2px 2px 12px -1px #0d2747,
                -4px -2px 20px -20px #0d274786;
        }

        & > .beskrivelse {
            grid-area: 2 / 2 / 3 / 4;
            padding: 2rem;
            margin-right: 2rem;
            width: 50%;
            justify-self: end;
            background-color: #3752beea;
            color: #f5f5f5;
            box-shadow: 4px 4px 24px 1px #0d2747,
                -3px -3px 6px #103666 inset,
                6px 6px 6px #10376695 inset;
            transition: 0.5s ease;
            
            &:hover {
                transform: scale(1.15);
            }

            & > h4 {
                margin: 0.5rem 2rem 0 2rem;
                letter-spacing: 0.2rem;
            }
        }
    }
}
